.loading {
    background-image: url(../img/throbber.gif);
    background-repeat:no-repeat;
    background-position:center;
    width: 100%;
}

body {
    min-height: 300px;
}

.crash {
    margin-top: 50px;
    border-bottom: inset 1px;
}

.signature {
    font-weight: bold;
    margin-bottom: 10px;
}

.hits {
    margin-left: 15px;
}

.histogram {
    background-color: red;
    width: 10px;
}

.links {
    margin-left: 5%;
    height: 280px;
    overflow-y: scroll;
    width: -moz-max-content;
}

.statistics {
    float:left;
}