.loading {
    background-image: url(../img/throbber.gif);
    background-repeat:no-repeat;
    background-position:center;
    width: 100%;
    min-height: 300px;
}

body {
}

.crash {
    margin-top: 50px;
    border-bottom: inset 1px;
    height: 350px;
}

.signature {
    font-weight: bold;
    margin-bottom: 10px;
}

.hits {
    margin-left: 15px;
}

.histogram {
    background-color: red;
    width: 10px;
}

.links {
    margin-left: 5%;
    height: 280px;
    overflow-y: scroll;
    width: -moz-max-content;
}

.statistics {
    float:left;
}

.links li {
    list-style-type: none;
}

.links li li {
    list-style-type: none;
}

a {
    transition: background-color 1s;
    text-decoration: none;
}

a:hover {
    background-color:lightgray;
    transition: background-color 1s;
    text-decoration: none;
}

#status {
    width: 100%;
    background-color:rgba(100, 200, 0, 1);
    background-blend-mode:  overlay;
    position:fixed;
    bottom: 0;
    left:0;
    text-align: right;
}
